<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Id="MikeWilliams.WiX.V6" Name="WiX v6 Sample" Manufacturer="Mike Williams" Version="1.0.0.0">
        <MajorUpgrade DowngradeErrorMessage="A newer version of WiX v6 Sample is already installed." />

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" CompressionLevel="high" />

        <Feature Id="Main">
            <ComponentGroupRef Id="ExampleComponents" />
        </Feature>

        <UI Id="UserInterface">
            <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
            <Property Id="WixUI_Mode" Value="Custom" />

            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
            <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="UserExit" />

            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999"/>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>

        </UI>
        <UIRef Id="WixUI_Common" />
    </Package>
</Wix>
